<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Learn Git</title>
</head>
<body>
   <div style="width: 100%; height: 100px; background-color: aqua; margin-bottom: 20px; text-align: center;">
      <h1>Yes we are starting our git tutorial</h1>
   </div>
   <div style="display: flex;">
      <div style="width: 33%; height: 300px; background-color: yellow; text-align: center;">
         <h1>Javascript</h1>
      </div>
      <div style="width: 33%; height: 300px; background-color: rgb(0, 234, 255); text-align: center;">
         <h1>Git</h1>
      </div>
      <div style="width: 33%; height: 300px; background-color: rgb(255, 0, 0); text-align: center;">
         <h1>Angular</h1>
      </div>
   </div>
   
</body>
</html>