<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Learn Git</title>
</head>
<body>
   <div style="width: 100%; height: 100px; color: aqua;">
      <h1>Yes we are starting our git tutorial</h1>
   </div>
</body>
</html>