<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Learn Git</title>
</head>
<body>
   
   <div style="width: 100%; height: 100px; background-color: rgb(162, 183, 183); margin-bottom: 20px; text-align: center;">
      <h1>Golden Space</h1>
      <h2>Yes we are starting our git tutorial</h2>
   </div>
   <div style="width: 100%; height: 100px; background-color: rgb(3, 132, 132); margin-bottom: 20px; text-align: center;">
      <h2>Sponsered by Willink Watches</h2>
   </div>
   <div style="display: flex; justify-content: end;">
      <div style="width: 33%; height: 300px; background-color: yellow; text-align: center;">
         <h1>Javascript</h1>
      </div>
      <div style="width: 33%; height: 300px; background-color: rgb(0, 234, 255); text-align: center;">
         <h1>Git</h1>
      </div>
      <div style="width: 33%; height: 300px; background-color: rgb(255, 0, 0); text-align: center;">
         <h1>Angular</h1>
      </div>
   </div>
   <div style="display: flex; justify-content: end;">
      <div style="width: 99%; height: 300px; background-color: rgb(0, 0, 0); text-align: center; color:#fff">
         <h1>Footer</h1>
         <p>contact:123@gmail.com</p>
      </div>
   </div>
</body>
</html>